body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(234, 240, 179);
    min-height: 98vh;
}

.row,
.box {
    display: flex;
    background-color: white;
    flex: none;
}

#container {
    border: 5px solid rgb(88, 88, 88);
    border-radius: 10px;
}

button {
    border-radius: 10px;
    font: 22px Arial;
    background-color: yellowgreen;
    color: olive;
}

button:hover {
    background-color: #03e693;
    color: rgb(152, 152, 2);
    transition: 0.5s;
}

button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px burlywood;
    transition: 0.5s;
}

.btn-on {
    background-color: #04AA6D;
    color: rgb(68, 68, 0);
}

button:active {
    background-color: #04AA6D;
    color: rgb(68, 68, 0);
}

label {
    font: 22px Arial;
    color: olive;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

#inputColor {
    background-color:  rgb(234, 240, 179);
    border: none;
    height: 50px;
    width: 50px;
    padding: 0px;
    border-radius: 50px;
    align-self: center;
    cursor: pointer;
}

#inputColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

#inputColor::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

span {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 9px;
}

#bodyContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 9px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background:rgb(88, 88, 88); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: yellowgreen; /* Green background */
    cursor: progress; /* Cursor on hover */
    border: 2px solid black;
    border-radius: 50px;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
