body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

div {
    display: flex;
    background-color: green;
    flex: none;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 30px;
    height: 480px;
    width: 480px;
}
