body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


div {
    display: flex;
    background-color: green;
    flex: none;
    height: 30px;
    width: 30px;
}

.inside {
    /* border: 1px solid black; */
    /* margin: -1px; */
}

#container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 30px;
    height: 480px;
    width: 480px;
}

button {
    /* margin-bottom: 50px; */
}